@charset "UTF-8";
@import url(c:\Users\Oleg\Desktop\Сайтыдляпортфолио\InkTattoo\style\bootstrap-grid.min.css);
@import url(c:\Users\Oleg\Desktop\Сайтыдляпортфолио\InkTattoo\style\bootstrap.min.css);
body {
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

.row {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 60%;
}

img {
  min-width: 100%;
}

h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000;
}

.header {
  background: url(../images/header_banner.png) center/cover no-repeat;
  padding: 27px 0 336px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .container .row {
  margin-left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  max-width: 750px;
  margin: 0 auto;
}

.header_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.header_navigation_item {
  list-style: none;
}

.header_navigation_item_link {
  color: #1a1a1a;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  margin: 0 !important;
}

.header_navigation_item_link:hover {
  text-decoration: none;
  color: #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header_logotype {
  text-align: center;
}

@media (max-width: 768px) {
  .header {
    position: relative;
    z-index: 999;
    padding: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 300px;
  }
  .header .container .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_navigation:nth-of-type(1) {
    margin-right: 10px;
  }
  .header_logotype {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20%;
  }
  .header_logotype img {
    min-width: auto;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 35px 0 0;
    height: 200px;
  }
  .logotupe {
    width: 100%;
  }
  .header_navigation_item_link {
    font-size: 0.6rem;
  }
  .logotupe {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .header {
    height: 200px;
  }
  .header_logotype {
    top: 35%;
  }
  .logotupe {
    width: 85%;
  }
  .header_navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header_navigation:nth-of-type(2) .header_navigation_item {
    text-align: end;
  }
  .header_logotype {
    top: 5%;
  }
}

.about_us .container {
  max-width: 100%;
  padding: 0;
}

.about_us .container .row {
  margin: 0;
}

.about_us_tittle {
  background: url(../images/img_studio_bg.png) no-repeat;
  padding: 200px 0;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  color: #010101;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  border: 10px solid #121212;
  padding: 35px 60px;
}

.about_us_information_tittle {
  width: 60%;
  margin: 0 auto;
  margin-top: 20px;
}

.about_us_information_tittle::before {
  content: "";
  background: url(../images/tattoo_design.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 30px;
  display: block;
  margin: 0 auto 20px auto;
}

.about_us_information {
  padding: 0 40px;
}

.about_us_information_text {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about_us_information_tittle {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}

.about_us_information_text {
  color: #000;
  font-family: "Times New Roman PSMT";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container-fluid .row {
  margin: 0;
}

.aboout_us_gallery_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.aboout_us_gallery_container img {
  width: 100%;
  height: 25%;
}

.aboout_us_gallery_container:hover {
  cursor: pointer;
}

.aboout_us_gallery_container:hover .gallery_icon {
  opacity: 1;
  z-index: 99;
  background: rgba(204, 200, 184, 0.6);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.gallery_icon {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.gallery_icon_icon:nth-of-type(1) {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 40%;
  right: 40%;
}

.gallery_icon_icon:nth-of-type(3) {
  margin: 0 30px;
}

.gallery_icon_icon i {
  color: #000;
}

@media (max-width: 1200px) {
  .about_us_information_tittle {
    width: 100%;
    margin: 0 0 30px 0;
  }
  .about_us_information_text {
    width: 100%;
    margin: inherit;
  }
}

@media (max-width: 992px) {
  .about_us_information_tittle {
    font-size: 1rem;
  }
  .about_us_information_tittle:before {
    background-size: contain;
  }
  .about_us_information_text {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .about_us_tittle {
    min-height: 25vh;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 1rem;
    padding: 10px 30px;
    border: 2px solid #121212;
  }
  .about_us_information {
    padding-bottom: 50px;
  }
  .about_us_tittle {
    padding: 15px 0;
  }
}

@media (max-width: 576px) {
  .about_us .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery_icon_icon:nth-of-type(3) {
    margin: 0 10px;
  }
  .gallery_icon_icon i {
    font-size: 0.5rem;
  }
  .about_us_tittle {
    padding: 10px 0;
    min-width: 100%;
    text-align: center;
  }
  h2 {
    font-size: 1rem;
    padding: 5px 35px;
  }
  .about_us_information {
    min-width: 100%;
  }
  .about_us_information_tittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .about_us_information_tittle:before {
    margin-top: 40px;
    padding-right: 20px;
  }
  .about_us_information_text {
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .about_us_tittle {
    min-height: 30vh;
    padding: 0;
    margin-bottom: 20px;
  }
  .about_us_information_tittle {
    width: 80%;
    margin: 0 auto 10px auto;
    font-size: 0.8rem;
  }
  .about_us_information_tittle::before {
    display: none;
  }
  .about_us_information_text {
    font-size: 0.6rem;
    line-height: inherit;
  }
  .about_us_information {
    padding: 0 15px;
  }
}

/*----------------TEAM---------------------*/
.taem .container {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.taem .row {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.team_height {
  height: 500px;
}

.team_container {
  background: url(../images/team_team_banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.team_container_img {
  padding: 0;
  -ms-flex-negative: 6;
      flex-shrink: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team_container_description {
  width: 100%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  background: #ccc8b6;
  padding: 124px 54px 0 48px;
  text-align: center;
}

.team_container_description_text {
  color: #000;
  font-family: OpenSans;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.team_container_description_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_container_icon {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.team_container_icon:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.team_container_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team_container_email_tittle {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.team_container_email_text {
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

.email {
  border: 1px solid #94928c;
  padding-left: 20px;
  outline: none;
  margin-bottom: 22px;
  width: 100%;
}

input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

input::-ms-input-placeholder {
  text-transform: uppercase;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

input::placeholder {
  text-transform: uppercase;
  color: #333333;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
}

.submit {
  width: 100%;
  border: none;
  background: #9a977a;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 0;
  outline: none;
}

@media (max-width: 1200px) {
  .team_height {
    height: 380px;
  }
  .team_container h2 {
    border: 5px solid #000;
  }
  .team_container_description {
    padding-top: 50px;
  }
}

@media (max-width: 992px) {
  .team_container {
    padding: 20px 0;
    height: 200px;
  }
  .team_container h2 {
    padding: 15px 30px;
  }
  .team_container_email {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 50px 0;
    height: 250px;
    max-width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .team_height {
    height: 300px;
  }
  .team_container {
    height: 150px;
  }
  .team_container_description {
    padding-top: 15px;
  }
  .team_container_description_text {
    font-size: 0.5rem;
  }
  .team_container_icon {
    margin-bottom: 25px;
  }
  .team_container_description_icon .container .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fa:before {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .team_height {
    height: 250px;
  }
  .team_container_img {
    width: 50%;
  }
  .team_container {
    height: 100px;
  }
  .team_container h2 {
    padding: 15px 70px;
    border: 2px solid #000;
  }
  .fa:before {
    font-size: 1rem;
  }
  .team_container_icon {
    margin-bottom: 5px;
  }
  h6 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .team_container_description_text {
    margin-bottom: 10px;
  }
  .team_container_description {
    padding: 15px;
  }
  .description_position .team_height:nth-of-type(4) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .description_position .team_height:nth-of-type(5) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .team_container_email {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 50px 0 0 0;
  }
}

@media (max-width: 480px) {
  .taem {
    background: #ccc8b6;
  }
  .description_position {
    display: block;
  }
  .team_height {
    height: 200px;
    min-width: 100%;
  }
  .team_height:nth-of-type(3) {
    padding-bottom: 20px;
  }
  .team_height:nth-of-type(5) {
    padding-bottom: 20px;
  }
  .fa:before {
    font-size: 0.5rem;
  }
  .team_container_img {
    min-width: 60%;
    margin: 0 auto;
  }
  .team_container_icon {
    padding: 0;
    height: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .team_container_description_text {
    margin-bottom: 0;
  }
  .team_container_description {
    padding: 15px 0 0 10px;
  }
  .team_container {
    height: 100px;
  }
  .team_container_email {
    padding-top: 30px;
    background: #fff;
    margin-bottom: 20px;
  }
}

@media (max-width: 300px) {
  .team_container_img {
    min-width: 100%;
    margin: 0;
  }
}

/*----------------TEAM---------------------*/
/*--------------Testimonial------------------*/
.testimonial {
  background: url(../images/testimotian-banner.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.testimonial_quote {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  color: #f2efe5;
  text-align: center;
}

.testimonial_quote::after {
  content: "";
  display: block;
  background: url(../images/testumation-icon-right.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-left: 101%;
}

.testimonial_quote::before {
  content: "";
  display: block;
  background: url(../images/testumation-icon-left.png) no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-left: -50px;
}

.testimonial_quote_autor {
  color: #f2efe5;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.testimonial_quote_autor::after {
  content: "-";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  margin-left: 5px;
}

.testimonial_quote_autor::before {
  content: "-";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.1rem;
  margin-right: 5px;
}

@media (max-width: 992px) {
  .testimonial_quote {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .testimonial {
    height: 200px;
    padding-top: 50px;
  }
  .testimonial_quote {
    font-size: 1rem;
  }
  .testimonial_quote::before {
    width: 30px;
    height: 30px;
    margin-left: -25px;
  }
  .testimonial_quote::after {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 576px) {
  .testimonial {
    padding: 20px;
    height: auto;
  }
  .testimonial .wrapper {
    width: 80%;
  }
  .testimonial_quote {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
  .testimonial_quote::before {
    width: 20px;
    height: 20px;
    margin-left: -25px;
  }
  .testimonial_quote::after {
    width: 20px;
    height: 20px;
  }
  .testimonial_quote_autor {
    font-size: 0.6rem;
  }
  ::after {
    font-size: 0.5rem;
  }
  ::before {
    font-size: 0.5rem;
  }
}

/*--------------Testimonial------------------*/
.twitter_container {
  background: url(../../images/twitter_container.png) no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding: 112px 0 124px;
}

.twitter_container_text {
  width: 70%;
  margin: 0 auto;
  color: #ccc8b6;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 600;
  line-height: initial;
}

.twitter_container_text::before {
  content: "\f099";
  color: #ccc8b6;
  font-family: "FontAwesome";
  font-size: 3rem;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  width: 50px;
  padding-bottom: 37px;
}

@media (max-width: 1200px) {
  .twitter_container {
    padding: 75px 0;
  }
}

@media (max-width: 768px) {
  .twitter_container {
    margin: 0;
    padding: 50px 15px;
  }
  .twitter_container_text {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .twitter_container_text:before {
    font-size: 2rem;
  }
  .twitter_container {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .twitter_container_text {
    font-size: 0.7rem;
  }
  .twitter_container_text:before {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */