body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.wrapper {
  width: 60%;
}
h2 {
  color: $black01;
  font-size: 2.2rem;
  font-weight: 400;
  text-transform: uppercase;
  border: 10px solid $black12;
  padding: 35px 60px;
}
img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}
h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10%;
  color: $black;
  text-align: center;
}
