body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.row {
  width: 100%;
  align-items: center;
}
.wrapper {
  width: 60%;
}
img {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
}
h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: $black;
}
