$black: #000;
$nero: #1a1a1a;
$white: #fff;
$chromeWhite: #ccc8b6;
$romance: #f2efe5;
$black12: #121212;
$black01: #010101;
$nightRider: #333333;
$greyOlive: #9a977a;
$black04: #040404;
$blackWhite: #e7e5d0;
$darkGray: #aeaeae;
$eagle: #afac9c;
$mcKenzie: #8b623c;
$summerSky: #3ac9e8;

$font-family: "Roboto", sans-serif;
$font-family: "Open Sans", sans-serif;
