/*----------------TEAM---------------------*/
.description_position {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}
.team_container_tittle {
  background: url(../images/team_team_banner.png);
  background-size: cover;
  background-position: center;
  width: 33.3%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  h2 {
    padding: 37px 100px;
    margin-bottom: 0;
  }
}
.team_container_information {
  width: 66.7%;
  min-height: 400px;
  display: flex;
  .team_container_information_img {
    width: 50%;
  }
  .team_container_information_description {
    width: 50%;
    background: $chromeWhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 50px 50px;
  }
}
.team_container_email {
  width: 33.3%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team_container_description_text {
  color: $black;
  font-family: $font-family-OpenSans;
  font-size: 0.8rem;
  margin-bottom: 20%;
}
.team_container_icon {
  color: $black;
  cursor: pointer;
  transition: 0.5s;
  &:hover {
    transform: rotate(360deg);
    transition: 0.5s;
  }
}
.team_container_email_tittle {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase;
}
.team_container_email_text {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.7rem;
  line-height: 12px;
  text-transform: uppercase;
}
input {
  width: 100%;
}
.email {
  border: 1px solid $black;
  padding-left: 20px;
  margin-bottom: 20px;
  &::placeholder {
    opacity: 0.45;
    color: #333;
    font-family: "Times New Roman", Times, serif;
    font-size: 0.7rem;
    font-weight: 600;
    line-height: 21px;
    text-transform: uppercase;
  }
}
.submit {
  width: 100%;
  border: none;
  background-color: #9a977a;
  color: $white;
  font-family: "Times New Roman", Times, serif;
  font-size: 0.7rem;
  line-height: 21px;
  text-transform: uppercase;
  padding: 13px 0;
}
@media (max-width: 1200px) {
  .team_container_information_description {
    padding: 20px !important;
  }
  .team_container_description_text {
    margin-bottom: 30px;
  }
  .team_container_information_img {
    img {
      height: 100%;
    }
  }
  h6 {
    margin-bottom: 20px;
  }
  .team_container_description_icon {
    .container {
      .row {
        .team_container_icon {
          &:nth-of-type(4),
          &:nth-of-type(5),
          &:nth-of-type(6) {
            text-align: center !important;
            margin-top: 20px !important;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .team_container_information {
    display: block;
    width: 40%;
    border: 1px solid $black;
    .team_container_information_img {
      width: 100%;
    }
    .team_container_information_description {
      width: 100%;
    }
  }
  .team_container_tittle {
    background-position: inherit;
    width: 20%;
    h2 {
      transform: rotate(-90deg);
    }
  }
  .team_container_icon {
    text-align: left !important;
    margin-top: 0 !important;
    padding: 0;
  }
  .team_container_email {
    margin: 0 auto;
    padding: 30px 0;
    .wrapper {
      width: 90%;
    }
  }
  .taem {
    background: #f2efe5;
  }
}
@media (max-width: 768px) {
  .taem {
    background: url(../../images/team_team_banner.png);
    min-width: 100%;
    background-size: cover;
    background-position: center;
  }
  .description_position {
    justify-content: space-around;
    .team_container_tittle {
      background: none;
      min-height: 100px;
      max-height: 100px;
      width: 100%;
      margin-bottom: 30px;
      h2 {
        transform: rotate(0deg);
        border: 3px solid $black;
        padding: 15px 45px;
      }
    }
  }
  .team_container_information {
    display: block;
    width: 30%;
    border: none;
    .team_container_information_description {
      background: #f2efe5;
      margin: 15px 0 !important;
    }
  }
  .team_container_email {
    display: block;
    width: 100%;
  }
  .team_container_description_text {
    font-size: 0.6rem;
  }
  .team_container_information_description {
    h6 {
      font-size: 1rem;
    }
  }
  .team_container_information_img {
    img {
      border-radius: 50%;
    }
  }
  .team_container_icon {
    text-align: center !important;
    i {
      &:before {
        font-size: 1.5rem;
      }
    }
  }
  .team_container_email {
    .wrapper {
      width: 50%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 576px) {
  .description_position {
    display: block;
    padding: 0 20px;
  }
  .team_container_information {
    width: 100%;
  }
  .team_container_icon {
    i {
      &:before {
        font-size: 1.5rem !important;
      }
    }
  }
  .team_container_email {
    .wrapper {
      width: 100%;
      margin: 0 auto;
    }
  }
}
/*----------------TEAM---------------------*/
